<div class="me-outer-wrapper">
    <div class="header-wrapper">
        <div class="info-wrapper">
            <div class="info-box">
                <div class="photo-box">
                    <img class="photo" ng-src="{{info.oidPhoto}}">
                </div>
                <div class="name-box">
                    <p class="name"><span ng-bind="info.name"></span></p>
                    <p class="level">
                        <img class="icon" src="http://www.microoak.cn/test/public/image/little-icon/icon-vvip.png">
                        <span><span>V</span><span ng-bind="integradeInfo.level"></span></span>
                    </p>
                </div>
                <div class="qrcode-box">
                    <div class="box" ng-click="goRegular()">
                        <p class="regular">会员规则</p>
                        <img class="img"
                             src="http://qr.api.cli.im/qr?data=http%253A%252F%252Fdealer0.autoimg.cn%252Fnews%252F201503%252F8590%252F620x465_1_q87_20150319102402223.jpg&level=H&transparent=false&bgcolor=%23ffffff&forecolor=%23000000&blockpixel=12&marginblock=1&logourl=&size=280&kid=cliim&key=c4143eec0c1cb78edd8541e74c6fd29d"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="integrate-wrapper">
            <div class="integrate-box">
                <div class="recharge-box">
                    <p class="text" ng-click="goIntegrate()"><span class="allIntegrate"><span ng-bind="integradeInfo.integrate"></span></span>积分</p>
                    <div class="recharge btn" ng-click="goRecharge()">
                        充值
                    </div>
                </div>
                <div class="order-box" ng-click="goOrder()">
                    <p class="text">0</p>
                    <p class="all-order-btn">全部订单</p>
                </div>
                <div class="register-box">
                    <p class="text">今日未签到</p>
                    <div class="sign btn">
                        签到
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="items-wrapper" ng-repeat="list in functionList">
            <div class="item" ng-repeat="item in list.list">
                <div class="name" ng-bind="item.name"></div>
                <div class="back">
                    <img class="img" src="http://www.microoak.cn/test/public/image/little-icon/icon-back.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<dir-footer-ls ng-if="info.crid=='LS'"></dir-footer-ls>
<dir-footer-jz ng-if="info.crid!='LS'"></dir-footer-jz>