<div class="footer-wrapper">
    <div class="route-box" ui-sref="home" ui-sref-active="active">
        <img class="icon" src="./images/footer/home.png">
        <div class="text">工具</div>
    </div>
    <div class="route-box" ui-sref="shop" ui-sref-active="active">
        <img class="icon" src="./images/footer/shop.png">
        <div class="text">商城</div>
    </div>
    <div class="route-box" ui-sref="me" ui-sref-active="active">
        <img class="icon" src="./images/footer/me.png">
        <div class="text">我的</div>
    </div>
</div>